<div class="container">
  <%= form_with(model: reservation) do |form| %>
    <% if reservation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

        <ul>
          <% reservation.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class="row g-3">
      <div class="mb-12">
        <%= form.label :hotel_name, :class => "form-label" %>
        <%= form.text_field :hotel_name, :class => "form-control", :placeholder => "Hotel Name" %>
      </div>

      <div class="col-md-6">
        <%= form.label :price, :class => "form-label" %>
        <%= form.text_field :price, :class => "form-control", :placeholder => "200.00" %>
      </div>

      <div class="col-md-6">
        <%= form.label :currency, :class => "form-label" %>
        <%= form.text_field :currency, :class => "form-control", :placeholder => "euro" %>
      </div>
      <div class="mb-12">
        <%= form.label :guest_name, :class => "form-label" %>
        <%= form.text_field :guest_name, :class => "form-control", :placeholder => "Jack reacher" %>
      </div>

      <div class="mb-12">
        <%= form.label :guest_email, :class => "form-label" %>
        <%= form.text_field :guest_email, :class => "form-control", :placeholder => "abc@example.com" %>
      </div>

      <div class="col-md-6">
        <%= form.label :arrival_date, :class => 'form-label' %>
        <%= form.datetime_field :arrival_date, :class => "form-control datepicker", :placeholder => "dd/mm/yyyy" %>
      </div>

      <div class="col-md-6">
        <%= form.label :departure_date, :class => 'form-label' %>
        <%= form.datetime_field :departure_date, :class => "form-control datepicker", :placeholder => "dd/mm/yyyy" %>
      </div>

      <div>
        <%= form.submit :class=> "btn btn-primary", :style=>"color: #fff;"%>
      </div>
    </div>
  <% end %>
</div>