<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Hotel name</th>
      <th>Price</th>
      <th>Currency</th>
      <th>Arrival date</th>
      <th>Departure date</th>
      <th>Guest name</th>
      <th>Guest email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.id %></td>
        <td><%= reservation.hotel_name %></td>
        <td><%= reservation.price %></td>
        <td><%= reservation.currency %></td>
        <td><%= reservation.arrival_date %></td>
        <td><%= reservation.departure_date %></td>
        <td><%= reservation.guest_name %></td>
        <td><%= reservation.guest_email %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
